
 <!-- <app-first1></app-first1>  -->
 <!-- <app-parent></app-parent> -->
     <!-- <app-local2></app-local2>  -->
   <!-- <app-form1></app-form1> -->
  <!-- <app-event></app-event> -->
  <!-- <div>
  <a routerLink="hello">flipcart</a>
</div> -->
<header><nav><a routerLink="jio">jio component </a><br>

<a routerLink="login">Login</a><br>
 
 
<a routerLink="nokia">nokia component </a> <br>

<a routerLink="http">HTTP</a><br>

<a routerLink="local2"><h3>local2</h3></a></nav></header>
   <router-outlet></router-outlet> 
