.morning{
    background-color: red;
}
.evening{
    background-color: yellow;
}
.highliter{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.rushi{
    background-color: aqua;
}
.prafull{
    background-color: orangered;
}