<p>first1 works!</p>
<h4>{{massage}}</h4>
<h6>{{result}}</h6>
<h2> student name{{student.name}}</h2>
<h2> student address{{student. address}}</h2>
<button [disabled]='atm'(click)="sum()" [style]="buttoncolor">result</button>
<button (click)="logic()">enter</button>

 <button (click)="toggle()">button1</button>
 <button [disabled]="atm">button2</button>
 {{go}}
<button (click)="h1('a')">zero</button>
<h6>{{no}}</h6>
<button (click)="h1('b')">hero</button>



<!-- <div class="card demo ">
    <div class="card-header">
        
        <h3 class="text-left"> seema dnyameshwar medage </h3>
          <h6 class="text-left"> mobile no.777234869</h6>
    </div>
        <div class="card-body">
            
             <img src="../assets/bapa.jpg" alt="download" width="20%">
                <p id="para"  >Lorem ipsum dolor sit amet.
                    Loremparapsum dolor sit amet.
                </p> -->
